.footer {
  position: relative;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;

  background-color: #69866f;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 20px;
  //.footer__container
  &__container {
  }
}
.footer-page {
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  column-gap: 0px;
  row-gap: 10px;

  @media (max-width: 767.98px) {
    grid-template-columns: repeat(3, 1fr);
  }
  //заховати футер у spoller

  @media (max-width: 500px) {
    grid-template-columns: auto;
  }
  // .footer-top__item

  &__item {
    align-self: flex-start;
    transition: color 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        color: white;
      }
    }
  }

  // .footer-top__customer-care

  &__customer-care {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-self: flex-start;
  }

  // .footer-top__shipping

  &__shipping {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-self: flex-start;
  }

  // .footer-top__legal-area

  &__legal-area {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
  }

  // .footer-top__connect

  &__connect {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-self: flex-start;
  }
}
.insta {
  font-size: 24px;
  align-self: center;
  @media (max-width: 767.98px) {
    align-self: flex-start;
  }
  transition: color 0.3s ease;
  @media (any-hover: hover) {
    &:hover {
      color: white;
    }
  }
}
.footer-bottom {
  align-self: center;
}
